/* Rofi config file */
configuration {
    lines: 12;
    font: "hack 10";
    show-icons: true;
    theme: "oxide";
    display-window: "Window";
    display-drun: "Search";
    sidebar-mode: true;
    location: 0;
}
