configuration {
    combi-modi:       "window,drun,run";
    scroll-method:    1;
    font:             "hack 10";
    display-ssh:      "ssh";
    display-run:      "#! ";
    display-drun:     "open";
    display-window:   "switch";
    display-combi:    "go to";
    show-icons:       true;
    location:         2;
    sidebar-mode:     true;
}

@import "/usr/share/rofi/themes/gruvbox-dark.rasi"
